<a href="https://colab.research.google.com/github/anirudhks443-art/ict_asignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write python fuction to find the max of three number
def biggest(x,y,z):
  if x>y and x>z:
    print(x,'is biggest number')
  elif y>z and y>x:
    print(y,'is biggest number')
  else:
    print(z,'is biggest number')

In [3]:
x=int(input('Enter first number'))
y=int(input('Enter second number'))
z=int(input('Enter third number'))
biggest(x,y,z)

Enter first number20
Enter second number30
Enter third number40
40 is biggest number

In [15]:
#Write a Python function to sum all the numbers in a list.

def sum_list_numbers(numbers):
    total=0
    for x in numbers:
        total+=x
    return total
sample_list=[18,12,30,10,7]
print(f'sample list:{sample_list}')
print(f'expected output:{sum_list_numbers(sample_list)}')

sample list:[18, 12, 30, 10, 7]
expected output:77

In [17]:
#Python program to insert a number to any position in a list (Get the numberto be inserted and position from the user)
my_list=[10,30,50,70]
print(f"orginal list:(my_list)")
number_to_insert=int(input("Enter the number to insert"))
position=int(input("Enter the position to insert:"))
my_list.insert(position,number_to_insert)
print(f"update list:{my_list}")

orginal list:(my_list)
Enter the number to insert30
Enter the position to insert:3
update list:[10, 30, 50, 30, 70]

In [19]:
#Write a program to rename a key city to a location in the following dictionary
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
city_value = sample_dict.pop("city")
sample_dict["location"] = city_value
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [20]:
 #Write a Python program to change Bradâ€™s salary to 8500 in the followingdictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [21]:
 #Write a program to copy elements 44 and 55 from the following tuple into anew tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [22]:
#Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,60, 70, 50,83,567,50,81
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print(count)

3